*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

/* VARIABLES */
:root {
  --primary-color: rgb(249, 42, 99, 1);
  --primary-color-variant: rgb(250, 210, 216);
  --primary-color-variant-1: rgb(254, 234, 239);
  --gray-color: rgb(112, 110, 110);
  --container-width-lg: 80%;
  --container-width-md: 92%;

  --bd-radius: 25px;
  --bd-radius-2: 10px;
}

/* CUSTOM FONTS */
@font-face {
  font-family: "andora";
  src: url(./text/AndoraModernSerif-lgrvw.otf);
}

@font-face {
  font-family: "polar";
  src: url(./text/ft-polar-regular.otf);
}

/* GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: var(--primary-color);
  font-size: 1.1rem;
}

span {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "andora", sans-serif;
}

h1,
h6 {
  color: var(--primary-color);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h5 {
  color: var(--gray-color);
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

p {
  color: var(--gray-color);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.7;
  font-family: "polar", sans-serif;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1.5rem 0; */
  gap: 2rem;
  transition: transform 1s, opacity 1s;
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.btn {
  padding: 15px 25px;
  background: var(--primary-color);
  color: white;
  font-size: 1rem;
  border-radius: var(--bd-radius);
  transition: 500ms ease;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.slide__left {
  animation: slideleft 1s linear backwards;
}

.logo {
  width: 150px;
}

/* HEADER STYLES */
header {
  display: flex;
  flex-direction: column;
  padding: 1.5% 0;
  max-height: 100vh;
}

.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Hero section */
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero__left,
.hero__right {
  flex: 50%;
}

.hero__left h2 {
  animation-delay: 1s;
}

.hero__left p {
  animation-delay: 1.5s;
}

.hero__form {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 4rem;
  animation-delay: 2s;
}

.hero__form input {
  padding: 1rem;
  width: 50%;
  border: 1px solid var(--gray-color);
  border-radius: var(--bd-radius);
}

.hero__left ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
  animation-delay: 2.5s;
}

.hero__right {
  background: url(./images/hero\ screen\ vector.png);
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.hero__right img {
  height: 100vh;
  animation-delay: 1s;
  /* transition: transform 1s, opacity 1s; */
}
/* End of Hero section */

@media (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .btn {
    padding: 8px 25px;
  }

  .hero__container {
    gap: 0;
  }

  .hero__left h2 {
    font-size: 2rem;
  }

  .hero__left p {
    font-size: 1rem;
  }

  .hero__form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__form input {
    padding: 0.8rem;
    width: 80%;
    border: 1px solid var(--gray-color);
    border-radius: var(--bd-radius);
  }

  .hero__left ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    animation-delay: 5s;
  }

  .hero__right {
    background-size: 100%;
    height: 100%;
  }

  .hero__right img {
    height: 60%;
  }
}

@media (max-width: 524px) {
  .container {
    flex-direction: column;
    width: var(--container-width-md);
  }
  .btn {
    font-size: 0.8rem;
    /* font-weight: 600; */
  }

  header {
    min-height: 100vh;
    /* margin-top: 10rem; */
  }

  .header__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  header li a {
    font-family: "andora", sans-serif;
    font-size: 1rem;
  }
  header button {
    font-size: 0.5rem;
  }

  .logo {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100px;
  }

  /* Hero section */
  .hero__container {
    text-align: center;
  }

  .hero__form {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .hero__form input {
    width: 100%;
  }

  .hero__left h2 {
    font-size: 1.5rem;
  }

  .hero__left p {
    font-size: 0.85rem;
  }

  .hero__left ul {
    justify-content: center;
    gap: 2rem;
  }

  .hero__right {
    background: url(./images/hero\ screen\ vector.png);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 80vh;
    height: 100vh;
  }

  .hero__right img {
    height: 60vh;
  }
}
/* END OF HEADER STYLES */

/* RIGHT CHOICES SECTION */
.right__choices-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.right__choices-left {
  background: url(./images/pink\ and\ blue\ vector.png);
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 85%;
  height: 100%;
  padding: 1.5rem 0;
}

.right__choices-right h2 {
  font-size: 3.1rem;
}

.right__choices-left img {
  height: 100vh;
}

.right__choices-left,
.right__choices-right {
  flex: 50%;
}

@media (max-width: 1024px) {
  .right__choices {
    gap: 0;
  }

  .right__choices-left {
    background-size: 85%;
    height: 100%;
    /* padding: 1.5rem 0; */
  }

  .right__choices-right h2 {
    font-size: 2rem;
  }

  .right__choices-right p {
    font-size: 1rem;
  }

  .right__choices-left img {
    height: 100%;
  }
}

@media (max-width: 524px) {
  .section {
    flex-direction: column;
  }
  /* .right__choices-right p {
    font-size: O.85rem;
  } */

  .right__choices-container {
    margin-top: 2rem;
    gap: 0rem;
    flex-direction: column-reverse;
  }

  .right__choices-left {
    background-size: 100%;
  }

  .right__choices-left img {
    height: 60vh;
  }
  .right__choices-right h2 {
    font-size: 1.5rem;
  }
  .right__choices-right {
    text-align: center;
  }
  .right__choices-right p {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .right__choices-container {
    margin-top: 10rem;
    gap: 0rem;
    flex-direction: column-reverse;
  }
}

/* END OF RIGHT CHOICES SECTION */

/* EARN SECTION */
.earn__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.earn__section-left,
.earn__section-right {
  flex: 50%;
}

.earn__section-right {
  background: url(./images/pink\ and\ blue\ vector.png);
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 85%;
  height: 100%;
  padding: 1.5rem 0;
}

.earn__section-right img {
  height: 100vh;
}

@media (max-width: 1024px) {
  .earn__section-right img {
    height: 100%;
  }

  .earn__section-left h2 {
    font-size: 2rem;
  }

  .earn__section-left p {
    font-size: 1rem;
  }
}

@media (max-width: 524px) {
  .earn__section {
    margin: -10% auto;
    gap: 0;
  }

  .earn__section-left {
    text-align: center;
  }

  .earn__section-left h2 {
    font-size: 1.4rem;
  }

  .earn__section-left p {
    font-size: 0.85rem;
  }

  .earn__section-right img {
    height: 60vh;
  }

  .earn__section-right {
    background-size: 100%;
  }
}
/* END OF EARN SECTION */

/* SALES SECTION */
.sales__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.sales__section-left,
.sales__section-right {
  flex: 50%;
}

.sales__section-left {
  background: url(./images/pink\ and\ blue\ vector.png);
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 100%;
  padding: 1.5rem 0;
}

.sales__section-left img {
  height: 100vh;
}

@media (max-width: 1024px) {
  .sales__section-right h2 {
    font-size: 2rem;
  }

  .sales__section-right p {
    font-size: 1rem;
  }

  .sales__section-left img {
    height: 100%;
  }
}

@media (max-width: 524px) {
  .sales__container {
    flex-direction: column-reverse;
  }

  .sales__section-right {
    text-align: center;
  }
  .sales__section-right p {
    font-size: 0.85rem;
  }

  .sales__section-right h2 {
    font-size: 1.5rem;
  }

  .sales__section-left img {
    height: 60vh;
  }

  .sales__section-left {
    background-size: 100%;
  }
}
/* END OF SALES SECTION */

/* FEATURES SECTION */
.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__row {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.features__col {
  background: var(--primary-color-variant);
  border-radius: var(--bd-radius-2);
  padding: 2rem;
  transition: all 300ms ease;
}

.features__col p {
  font-size: 1rem;
}

.features__col img {
  border-radius: var(--bd-radius-2);
}

.features__col:hover {
  scale: 1.1;
}

@media (max-width: 1024px) {
  .features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features__container h2 {
    font-size: 2rem;
  }

  .features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .features__col {
    background: var(--primary-color-variant);
    border-radius: var(--bd-radius-2);
    padding: 1rem;
    transition: all 300ms ease;
    width: 70%;
  }

  .features__col h4 {
    font-size: 1.3rem;
  }

  .features__col p {
    font-size: 1rem;
  }

  .features__col img {
    border-radius: var(--bd-radius-2);
  }

  .features__col:hover {
    scale: 1.1;
  }
}

@media (max-width: 524px) {
  .features__section {
    text-align: center;
  }

  .features__row {
    flex-direction: column;
  }

  .features__col {
    width: 80%;
    column-gap: 2rem;
  }
  .features__container h2 {
    font-size: 1.5rem;
  }
}

/* END OF FEATURES SECTION */

/* CONTACT SECTION */
.contact__container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-color-variant-1);
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
}

.contact__form {
  margin-left: 23%;
  width: 70%;
  margin-bottom: 1rem;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .contact__section {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .contact__container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-variant-1);
    padding: 1rem;
  }

  .contact__container h2 {
    font-size: 2rem;
  }

  .contact__form {
    margin-left: 0;
    width: 70%;
    margin-bottom: 1rem;
    padding: 0;
    overflow: hidden;
  }
}

@media (max-width: 524px) {
  /* .contact__section {
    /* padding: 1rem; 
  } */

  .contact__section h2 {
    font-size: 1.2rem;
  }

  .contact__form {
    margin-left: 0;
    margin-bottom: 4rem;
  }
}
/* END OF CONTACT SECTION */

/* FOOTER SECTION */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color-variant-1);
}
.footer-img {
  height: 1.7rem;
}

.social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 1.7rem;
}

.contact__info {
  text-align: center;
}

@media (max-width: 1024px) {
  footer {
    flex-direction: column;
  }

  .social__links {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 524px) {
  .footer__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0.5rem 0;
  }

  .social__links {
    gap: 0.5rem;
    margin-top: -3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    height: 1.3rem;
  }
  .footer-img {
    height: 1.3rem;
  }
}
/* END OF FOOTER SECTION */

/* KEYFRAMES */
@keyframes slideleft {
  0% {
    /* transform: translate(100px); */
    opacity: 0;
  }

  100% {
    /* transform: translate(100px); */
    opacity: 1;
  }
}
